<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.manage.mapper.ManageNewsMapper">
  <resultMap id="BaseResultMap" type="io.renren.modules.manage.entity.ManageNewsEntity">
    <!--@mbg.generated-->
    <!--@Table manage_news-->
    <id column="news_id" jdbcType="BIGINT" property="newsId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="image_url" jdbcType="LONGVARCHAR" property="imageUrl" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="is_active" jdbcType="INTEGER" property="isActive" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    news_id, title, image_url, content, is_active, create_user_id, create_time
  </sql>
</mapper>
